<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="practica.iase.com.funcionaa">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.ConcietosFestivaActivity"></activity>
        <activity android:name=".activitys.BuscarActivity" />
        <activity android:name=".activitys.UsuarioActivity" />
        <activity android:name=".activitys.FestibalActivity" />
        <activity android:name=".activitys.ConciertoActivity" />
        <activity android:name=".activitys.ListaConciertosActivity" />
        <activity android:name=".activitys.ListaFestivalesActivity" />
        <activity android:name=".activitys.RegistroActivity" />
        <activity android:name=".activitys.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>